<div>Current location: <%= @location.address %></div>

<div><%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x450&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}" %></div>

<table class="table table-striped table-hover ">
	<thead>
		<tr>
			<h4>Purveyors of Dank Bean</h4>
		</tr>
	</thead>
	<tbody>
		<% @shops.each do |shop|%>
			<tr>
				<td><%= link_to shop.name, shop %></td>
				<td><%= shop.distance_to([@location.latitude, @location.longitude]) %> miles away</td>
			</tr>
		<% end %>
	</tbody>
</table>
<%= link_to "Add New Shop", new_shop_path, class: "btn btn-success" %>
