<%= form_for @roaster, class: "form-horizontal" do |f| %>
  <fieldset>
      	<div class="form-group">
	        <%= f.label :name %>
	        <%= f.text_field :name, class: "form-control" %>
      	</div>
     	<div class='fields'>
		    <%= f.label :accounts %>
	    </div>
	    <div>
		    <% @shops.each do |shop| %>
    			<div>
					
    				<%= check_box_tag "roaster[shop_ids][]", shop.id, @roaster.relationship(@roaster.id, shop.id) %>
    				<%= shop.name %>
    			</div>
  			<% end %>
    	</div>
  </fieldset>
  <br>
  <div><%= f.submit class: "btn btn-warning" %></div>
<% end %>